.supportImgs img {
  width: 30px;
}
.supportImgs {
  background: #efefef;
  border-radius: 5px;
  /* width: 41px; */
  height: 107px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-right: 5px;
  padding-left: 5px;
}
.main {
  display: flex;
  justify-content: space-between;
  width: 87%;
}
.mainContent {
  padding-top: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Raleway;
  font-size: 9px;
  font-weight: 300;
  line-height: 15px;
  letter-spacing: -0.05000000074505806px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
/* .borderText {
    border-left: 1px solid;
    padding-left: 5px;
  } */
.borderText {
  position: relative;
  padding-left: 10px;
  width: 92%;
}

.borderText::before {
  content: "";
  position: absolute;
  left: 0;
  top: 6px; /* Начало границы */
  bottom: 6px; /* Конец границы */
  border-left: 1px solid;
}
.firstText {
  margin-top: 0;
}
.logos {
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(
    97.98% 55.27% at 52.53% 43.57%,
    #24695a 0%,
    #17453b 100%
  );
}
.logo {
  width: 87%;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* width: 100%; */
  font-family: Raleway;
  font-size: 15.42px;
  font-weight: 400;
  line-height: 18.22px;
  letter-spacing: -0.07008032500743866px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.arrow {
  width: 33px;
}
.textContent {
  padding-left: 11px;
}
.footer {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #17453b;
  border-radius: 20px 20px 0 0;
}
.selectContainer {
  position: relative;
  width: 94%;
}

.selectHeader {
  box-sizing: border-box;
  width: 100%;
  height: 24px;
  /* border: none; */
  border-radius: 3px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  cursor: pointer;
  /* box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.16); */
  border: none;
  outline: none;
  box-shadow: none;
  font-family: Raleway;
  font-size: 10px;
  font-style: italic;
  font-weight: 250;
  line-height: 22.32px;
  letter-spacing: -0.06198630481958389px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.selectHeader img {
  width: 15px;
  height: auto;
}

.optionsList {
  position: absolute;
  top: 47%;
  left: -1px;
  width: 100%;
  background: white;
  border-radius: 3px;
  margin-top: 5px;
  position: absolute;
  top: 47%;
  left: 0px;
  /* width: 100.3%; */
  background: white;
  border-radius: 3px;
  margin-top: 5px;
}
.divider {
  margin: 0;
  border: none;
  border-top: 1px solid #e0e0e0;
  width: 80%;
  margin-left: 10px;
}
.option {
  padding: 8px 10px;
  cursor: pointer;
  font-family: Raleway;
  font-size: 10px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: -0.06198630481958389px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.option:hover {
  background-color: #f5f5f5;
}
.input {
  /* padding-top: 15px; */

  font-family: Raleway;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.05000000074505806px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  width: 87%;
}
.input input {
  height: 24px;
  border-radius: 3px;
  border: none;
  padding-left: 8px;
}
.input input:focus {
  outline: none; /* Убирает рамку */
}
.footer select:focus {
  outline: none; /* Убирает рамку */
}
.selectContainer {
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* width: 87%; */
}
.inputMsg h2 {
  font-family: Raleway;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.05000000074505806px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: white;
}
.inputMsg p {
  font-family: Raleway;
  font-size: 8px;
  font-weight: 200;
  line-height: 11px;
  letter-spacing: -0.05000000074505806px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: white;
  max-width: 114px;
  width: 30vw;
  min-width: 90px;
}
.inputMsg {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  width: 87%;
  padding-bottom: 15px;
  padding-top: 5px;
}
.inputMsg textarea {
  width: 164px;
  max-width: 174px;
  min-width: 124px;
  border-radius: 3px;
  border: none;
  padding: 8px;
}
.inputMsg textarea:focus {
  outline: none; /* Убирает рамку */
}
.attach {
  font-family: Raleway;
  font-size: 7px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.05000000074505806px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  display: flex;
  align-items: center;
  justify-content: left;
  width: 87%;
  color: white;
}
.checkbox {
  font-family: Raleway;
  font-size: 9.45px;
  font-weight: 100;
  line-height: 17.54px;
  letter-spacing: -0.0674765482544899px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  display: flex;
  align-items: center;
  width: 89%;
  color: white;
}
.send button {
  background-color: #baa36e;
  border-radius: 30px;
  border: none;
  color: white;
  font-family: Raleway;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.05000000074505806px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  width: 118px;
  height: 25px;
  text-align: center;
  margin-bottom: 10px;
}
.send {
  width: 87%;
  display: flex;
  align-items: center;
  justify-content: end;
}
.textInfo {
  font-family: Raleway;
  font-size: 7px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.05000000074505806px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: white;
  width: 87%;
  margin-bottom: 0;
  margin-top: 0;
}
.abouService {
  background: #baa36e;
  border-radius: 20px;
  border: none;
  color: white;
  font-family: Raleway;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: -0.05000000074505806px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  width: 87%;
  height: 29px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.tgWindow {
  display: flex;
  align-items: center;
}
.tgWindow img {
  width: 10px;
  padding-left: 5px;
}

.textContent li {
  list-style-type: none;
  padding-right: 15px;
  padding-bottom: 10px;
}
.textContent li:before {
  content: "•";
  position: absolute; /* Это позволит позиционировать точку отдельно */
  margin-left: -10px;
}
